body {
  font-family: 'Amaranth', sans-serif;
}


.card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-button,
.overlay-button {
  padding: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #3E78B2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 380px;
  height: 70px;
}

.overlay-button {
  background-color: #4A525A;
}
