body {
  font-family: "Amaranth", sans-serif;
  margin: 5px;
  padding: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 10px;
}

button.active {
  background-color: #004ba8;
  color: white;
}

.page-content {
  margin-top: 20px;
  text-align: center;
}

.artist-percentage {
  text-align: center;
  margin: 20px;
}

.artist-percentage ul {
  list-style: none;
  padding: 0;
}

.artist-percentage li {
  margin: 5px 0;
}

.search-section input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
}

.search-section button {
  padding: 10px 20px;
  background-color: #004ba8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
}

.search-section button:hover {
  background-color: #0056b3;
}

.result-section {
  margin-top: 10px;
}

.result-section button {
  padding: 10px 20px;
  background-color: #004ba8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.result-section button:hover {
  background-color: #0056b3;
}

.artist-questions select {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.artist-questions input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.artist-questions button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

.artist-questions button:hover {
  background-color: #0056b3;
}
